In [1]:
import numpy as np

In [2]:
n_array = np.array([[0, 1, 2, 3],
[4, 5, 6, 7],
[8, 9, 10, 11]])

In [3]:
# ndim :
# This gives the number of dimensions of the array. The following
# shows that the array that we defined had two dimensions:
n_array.ndim

2

In [4]:
# shape :
# This gives the size of each dimension of the array:
n_array.shape

(3, 4)

In [5]:
# size:
# This gives the number of elements:
n_array.size

12

In [6]:
# dtype :
# This gives the datatype of the elements in the array:
n_array.dtype.name

'int64'

In [7]:
n_array.dtype

dtype('int64')

In [8]:
a = np.array( [11, 12, 13, 14])
b = np.array( [ 1, 2, 3, 4])
c = a - b

In [9]:
c

array([10, 10, 10, 10])

In [10]:
b**2

array([ 1,  4,  9, 16])

In [11]:
# Applying trigonometry
np.cos(b)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

In [12]:
# Conditional operators
b < 2

array([ True, False, False, False])

In [13]:
# Matrix Multiplication
A1 = np.array([[1, 1], [0, 1]])
A2 = np.array([[2, 0], [3, 4]])
A1 * A2

array([[2, 0],
       [0, 4]])

In [14]:
# The dot product can be performed with the following command:
np.dot(A1, A2)

array([[5, 4],
       [3, 4]])

In [15]:
n_array[0,1]

1

In [17]:
# If a range of values has to be selected on a row, then we can use the
# following command:
n_array[0, 0:3]

array([0, 1, 2])

In [18]:
# The whole row of values can be selected with the following command:
n_array[0, :]

array([0, 1, 2, 3])

In [19]:
# Using the following command, an entire column of values need to be
# selected:
n_array[:, 1]

array([1, 5, 9])

In [20]:
# flatten the array
n_array.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [21]:
# reshape
n_array.shape = (6, 2)
n_array

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [23]:
# transpose
n_array.transpose()

array([[ 0,  2,  4,  6,  8, 10],
       [ 1,  3,  5,  7,  9, 11]])